.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
build/
/captures
.idea/
*.iml
repo/
apk/
gen
/src/not_needed/
/src/scan_groups/
/src/nsfw/*/
/src/nsfw/myhentaicomics/
/src/nsfw/myhentaigallery/
/src/nsfw/oglaf/
